table, td{
    border: 1px solid green;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    font-size: 44px;
}

span:nth-child(1){
    color: orangered;
}

span:nth-child(2){
    color: green;
}

span:nth-child(3){
    color: orange;
}

span:nth-child(4){
    color: blue;
}

tr:nth-child(odd){ /* odd=impares  even=pares */
    background-color: aqua;
}

tr:nth-child(even){ /* odd=impares  even=pares */
    background-color: khaki;
}